::ng-deep .mat-vertical-stepper-header{
  pointer-events: none !important;
}
.class-account {
  color: #673ab7;
  text-align: center;
  width: 100%;
}
.head-account {
  color: #673ab7;
}
.block-info {
  padding: 5px;
  margin: 2px;
  background-color: rgb(204 181 181 / 12%);
}
